body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  overflow: hidden;
  background-color: black;
}

h1 {
  color: white;
  font-size: 2em;
  margin: 0;
  padding: 1em;
}

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}
